.buttons-menu {
  display: flex;
  justify-content: space-between;
}

.buttons-menu > div {
  display: flex;
}

.buttons-menu > div:first-child {
  justify-content: flex-start;
}

.buttons-menu > div:last-child {
  justify-content: flex-end;
}

.processing-button {
  display: flex;
  justify-content: center;
  align-items: center;

  height: 50px;
  margin-bottom: 100px;
}
