.main-board {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.image-uploader {
  background-color: #ffd700;
  padding: 20px;
}

.image-processor {
  background-color: #00ff00;
  padding: 20px;
}

.landing-page {
  display: flex;
  justify-content: center;
  align-items: center;
}

body,
html {
  height: 100%;
  margin: 0;
}

.main-board {
  display: flex;
  height: 70vh;
}

.image-uploader {
  flex: 1;
}

.image-processor {
  flex: 1;
}

.start-button {
  width: 200px;
  margin-bottom: 5%;

  background-color: white;
  border: 1px solid #000000;
  border-radius: 15px;
  padding: 10px 20px; /* Adjust padding as needed */
  font-size: 16px; /* Adjust font size as needed */
  cursor: pointer; /* Add pointer cursor to indicate interactivity */
}
