.main-board {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.image-uploader {
  background-color: #ffd700;
  padding: 20px;
}

.image-processor {
  background-color: #00ff00;
  padding: 20px;
}

body,
html {
  height: 100%;
  margin: 0;
}

.main-board {
  display: flex;
  height: 90vh;
}

.image-uploader {
  flex: 1;
}

.image-processor {
  flex: 1;
}
