.image-uploader-container {
  padding-bottom: 20px;
  width: 50%;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.image-uploader-title {
  color: #333;
  font-size: 1.5rem;
}

.image-uploader-input {
  margin-top: 15px;
}

.image-preview-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow-y: auto;
  max-height: 600px;
  gap: 10px;

  padding-right: 4px;
}

.image-preview {
  width: 300px;
  height: 300px;
  object-fit: cover;
  border-radius: 4px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin-top: 10px;

  max-width: 100%;
}

.image-uploader-button {
  background-color: white;
  color: black;
  padding: 10px 20px;
  margin-top: 10px;
  margin-bottom: 20px;
  border: 1px solid black;
  border-radius: 25px;
  cursor: pointer;
  font-size: 1rem;
  transition: background-color 0.3s ease;

  align-self: center;
}

.image-uploader-button:hover {
  background-color: #f3e8ff;
}

.remove-image-button {
  margin-top: 5px;
  padding: 5px 15px;
  font-size: 0.8rem;
  background-color: white;
  color: black;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  border-radius: 11px;
  border: 1px solid black;

  width: 100%;
}

.remove-image-button:hover {
  background-color: #f3e8ff;
}

.image-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
  border: 3px solid #333;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 10px;
  background: #f3e8ff;
}

.image-uploader-input {
  display: none;
}

.image-preview-container::-webkit-scrollbar {
  width: 8px; /* Adjust the width as needed */
  background: transparent; /* Make scrollbar background transparent */
}

.image-preview-container::-webkit-scrollbar-thumb {
  background: transparent; /* Make scrollbar thumb transparent */
}

.image-preview-container:hover::-webkit-scrollbar-thumb,
.image-preview-container:active::-webkit-scrollbar-thumb {
  background: #f3e8ff; /* Set to desired scrollbar thumb color */
}

.image-preview-container {
  scrollbar-width: thin; /* 'auto' or 'thin' */
  scrollbar-color: transparent transparent; /* Set thumb and track to transparent */
}

.image-preview-container:hover,
.image-preview-container:active {
  scrollbar-color: #f3e8ff transparent; /* Set to desired scrollbar thumb color */
}

@media (max-width: 768px) {
  .image-preview {
    width: 150px; /* Smaller size on small screens */
    height: 150px; /* Smaller size on small screens */
  }
}

.slideshow-container {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.slide-arrow {
  border: none;
  cursor: pointer;
  padding: 10px;
  margin: 0 10px;
  font-size: 24px;
  color: #333;
  /* position: absolute; */
  top: 50%;
  transform: translateY(-50%);
}

.left-arrow {
  left: 0;
}

.right-arrow {
  right: 0;
}
